PROFILE=prod
WORK_PORT=8000
SUPABASE_URL=http://
SUPABASE_ROLE_KEY=role_key
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
CLOUDFLARE_ENDPOINT=http://localhost:9000
CLOUDFLARE_ACCESS_KEY=admin
CLOUDFLARE_SECRET_KEY=your_secure_password_here
CLOUDFLARE_BUCKET_NAME=test_bucket
ALLOWED_ORIGINS=http://localhost:4200
ADMIN_USER=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123
